<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/image/weather.png" type="image/x-icon">
</head>
<body>
    <div class="main-content">
        {{>headers}}
        <p>The site uses mapbox.com and weatherstack.com to function</p>
        <img src="/image/naruto.jpg" alt="" class="portrait">
        <p>Created by {{Name}}</p>
    </div>
    {{>footer}}
</body>
</html>