<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/image/weather.png" type="image/x-icon">
</head>
<body>
    <div class="main-content">
      <h1>404</h1>
      <h2>{{message}}</h2>
      <img src="/image/404.jfif" alt="404" class="error">
    </div>

</body>
</html>